{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
   
        <div style="width: max-content;">
        <img src="{% static 'images/pimg.jpg'%}" width="1250px" height="60%">
    </div>

    

<div class="container"><br><br><br>
    <center> <h1>Food &raquo; 2-4-7</h1></center>
     <div class="row">
         <div class="col-md-4 shadow-lg p-3 mb-5 bg-white rounded">
             <img src="{% static 'images/meal 1.jpg'%}" width="350px" height="220px">
             <h2> Cheesy Mashed Potato</h2>
             <p>
                 Deliciously Cheesy Mashed Potato. The ultimate mash for your Thanksgiving table or the 
                 perfect accompaniment to vegan sausage casserole.
                  Everyone will love it's fluffy, cheesy.
                </p>
                  <div>  <b>₦2000.00</b> <button type="submit" class="btn btn-primary" style="float: right;"> Order Now</button></div>
            </div>
 

         <div class="col-md-4 shadow-lg p-3 mb-5 bg-white rounded">
             <img src="{% static 'images/meal 2.jpg' %}" width="350px" height="220px">
             <h2>Chicken Madeira</h2>
             <p>
                 Chicken Madeira, like Chicken Marsala, is made with chicken, mushrooms, and a special
                  fortified wine. But, the wines are different;
             </p><br>
             <div> <b>₦2500.00</b> <button type="submit" class="btn btn-success" style="float: right;"> Order Now</button></div>
         </div>
 
         <div class="col-md-4 shadow-lg p-3 mb-5 bg-white rounded">
             <img src="{% static 'images/meal 3.jpg' %}" width="350px" height="220px">
             <h2>Lobster Thermidor</h2>
             <p>
                 Lobster Thermidor is a French dish of lobster meat cooked in a rich wine sauce,
                  stuffed back into a lobster shell, and browned.
             </p><br>
             <div><b>₦1500.00</b><button type="submit" class="btn btn-info" style="float: right;"> Order Now</button></div>
            </div>
         </div>
 
         <div class="row mt-2">
           <div class="col-md-4 shadow-lg p-3 mb-5 bg-white rounded">
             <img src="{% static 'images/meal 4.jpg' %}" width="350px" height="220px">
             <h3>Pink Spaghetti Gamberoni</h3>
             <p>
                 Spaghetti with prawns in a fresh tomato sauce. This dish originates 
                 from Southern Italy and with the combination of prawns, garlic, chilli and
                  pasta. Garnish each with remaining tablespoon parsley.
                 
             </p>
             <div><b>₦2100.00</b><button type="submit" class="btn btn-primary" style="float: right;">Order Now</button></div>
         </div>
 
         <div class="col-md-4 shadow-lg p-3 mb-5 bg-white rounded">
             <img src="{% static 'images/meal 5.jpg' %}" width="350px" height="220px"><br>
             <h2>Yorkshire Lamb patties</h2>
             <p>
                 Lamb patties which melt in your mouth, and are quick and easy to make. 
                 Served hot with a crisp salad.
             </p><br><br>
            <div> <b>₦1700.00</b><button type="submit" class="btn btn-success" style="float: right;"> Order Now</button></div>
         </div>
 
         <div class="col-md-4 shadow-lg p-3 mb-5 bg-white rounded">
             <img src="{% static 'images/meal 6.jpg' %}" width="320px" height="220px">
             <h2>stuffed Jacket Potato</h2>
             <p>
                 Deep fry whole potatoes in oil for 8-10 minutes or coat each potato 
                 with little oil. Mix the onions, garlic, tomatoes and mushrooms. Add yoghurt, 
                 ginger, garlic, chillies, coriander
             </p><br>
             <div><b>₦1400.00</b><button type="submit" class="btn btn-info" style="float: right;"> Order Now</button></div>
         </div>

         </div>
     </div>



     <!-- blogpost -->

     <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="row">
  <div class="span8">
    <div class="row">
      <div class="span8">
        <h4><strong><a href="#">Title of the post</a></strong></h4>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/260x180" alt="">
        </a>
      </div>
      <div class="span6">      
        <p>
          Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option. Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari conclusionemque, ad nobis propriae quaerendum sea.
        </p>
        <p><a class="btn" href="#">Read more</a></p>
      </div>
    </div>
    <div class="row">
      <div class="span8">
        <p></p>
        <p>
          <i class="icon-user"></i> by <a href="#">John</a> 
          | <i class="icon-calendar"></i> Sept 16th, 2012
          | <i class="icon-comment"></i> <a href="#">3 Comments</a>
          | <i class="icon-share"></i> <a href="#">39 Shares</a>
          | <i class="icon-tags"></i> Tags : <a href="#"><span class="label label-info">Snipp</span></a> 
          <a href="#"><span class="label label-info">Bootstrap</span></a> 
          <a href="#"><span class="label label-info">UI</span></a> 
          <a href="#"><span class="label label-info">growth</span></a>
        </p>
      </div>
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="span8">
    <div class="row">
      <div class="span8">
        <h4><strong><a href="#">Title of the post</a></strong></h4>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/260x180" alt="">
        </a>
      </div>
      <div class="span6">      
        <p>
          Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option. Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari conclusionemque, ad nobis propriae quaerendum sea.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="span8">
        <p></p>
        <p>
          <i class="icon-user"></i> by <a href="#">Mark</a> 
          | <i class="icon-calendar"></i> Sept 16th, 2012
          | <i class="icon-comment"></i> <a href="#">3 Comments</a>
          | <i class="icon-share"></i> <a href="#">39 Shares</a>
          | <i class="icon-tags"></i> Tags : <a href="#"><span class="label label-info">Snipp</span></a> 
          <a href="#"><span class="label label-info">Bootstrap</span></a> 
          <a href="#"><span class="label label-info">UI</span></a> 
          <a href="#"><span class="label label-info">growth</span></a>
        </p>
      </div>
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="span8">
    <div class="row">
      <div class="span8">
        <h4><strong><a href="#">Title of the post</a></strong></h4>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/260x180" alt="">
        </a>
      </div>
      <div class="span6">      
        <p>
          Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option. Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari conclusionemque, ad nobis propriae quaerendum sea.
        </p>
        <p><a href="#">Read more</a></p>
      </div>
    </div>
    <div class="row">
      <div class="span8">
        <p></p>
        <p>
          <i class="icon-user"></i> by <a href="#">Mark</a> 
          | <i class="icon-calendar"></i> Sept 16th, 2012
          | <i class="icon-comment"></i> <a href="#">3 Comments</a>
          | <i class="icon-share"></i> <a href="#">39 Shares</a>
          | <i class="icon-tags"></i> Tags : <a href="#"><span class="label label-info">Snipp</span></a> 
          <a href="#"><span class="label label-info">Bootstrap</span></a> 
          <a href="#"><span class="label label-info">UI</span></a> 
          <a href="#"><span class="label label-info">growth</span></a>
        </p>
      </div>
    </div>
  </div>
</div>
<hr>

                           <!-- NEWSLETTER -->

     <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
		<h1 class="text-center m-5">SUBSCRIBE TO OUR NEWSLETTER</h1>
		
	</div>
	<section class="bg-info text-center p-5 mt-4">
		<div class="container p-3">
			<h3>SUBSCRIBE NOW</h3>
			<form action="#" method="Post">
				<input type="text" name="text" placeholder="Enter Your Email Id">
				<button type="button" class="btn btn-light">Subscribe</button>
			</form>
		</div>
	</section>

	</footer>
 </div>
 
 <footer class="footer mt-3">
     <div class="container" style="text-align: center;">
         <div class="bottom-footer">
             <div class="row">
                 <div class="col-xs-12 col-sm-3 payment-options color-gray">
                     <h5 style="color: aliceblue;">payment-options</h5>
                     <ul style="list-style-type: none;display: inline-flex;">
                         <li><a href="#"><img src="{% static 'images/paypal.png' %}" alt="paypal"></a></li>
                         <li><a href="#"><img src="{% static 'images/maestro.png' %}" alt="maestro"></a></li>
                         <li><a href="#"><img src="{% static 'images/bitcoin.png' %}" alt="bitcoin"></a></li>
                         <li><a href="#"><img src="{% static 'images/stripe.png' %}" alt="stripe"></a></li>
                         <li><a href="#"><img src="{% static 'images/mastercard.png' %}" alt="mastercard"></a></li>
                     </ul>
                 </div>
                 <div class="col-xs-12 col-sm-4 address color-gray">
                     <h5 style="color: aliceblue;">Address</h5>
                     <p style="color: aliceblue;">Shop B19 Wuse Plaza Zone 5 Abuja Nigeria</p>
                     <h5 style="color: aliceblue;">Phone No: 07038531911</h5>
                 </div>
                 <div class="col-xs-12 col-sm-4 additional-info color-gray">
                     <h5 style="color: aliceblue;">Additional Information</h5>
                     <p style="color: aliceblue;">Join thousands of restaurants to showcase your quality meal to people</p>
                 </div>
             </div>
         </div>
     
 </footer>

 <div> <h4 style="text-align: center;background-color: rgba(0, 0, 0, 0.597)">&copy 2023 copywrite by Patrick</h4></div>
 </div>
{% endblock %}