
<h3>Trade imbalance undermines Nigeria’s currency swap</h3>  Five years ago, Nigeria and China entered into a currency swap agreement, facilitated by the Central Bank of Nigeria (CBN) and the People’s Bank of China (PBOC). 
        The primary goals of this agreement were to alleviate pressure on the naira and to ensure foreign exchange stability. Despite these aspirations, the country’s currency has depreciated significantly since the arrangement’s inception in 2018. 
        At that time, the naira traded at N305:$1, whereas today it stands at over N460:$1. Similarly, the naira-yuan exchange rate has dropped from N48:CNY1 in 2018 to N66.70:CNY1 as of April 6, 2023.
        As several countries seek to establish similar arrangements with China, experts are analyzing why Nigeria’s currency swap has not been successful. 
        Taiwo Oyedele, Head of Tax and Corporate Advisory Services at PWC Nigeria, attributes the disappointing outcome to the trade imbalance between Nigeria and China. 
        He points out that while the country’s imports heavily from China, its exports to the country have been declining. This disparity, compounded by the instability of the naira’s value, hinders the implementation of the currency swap arrangement.
        Oyedele suggests that Nigeria can still remedy the situation by promoting locally produced alternatives to imports, thereby reducing the trade imbalance.  
<h3>Future trajectory hinges on reforms and policy choices</h3>

<p>
    The International Monetary Fund (IMF) emphasizes that the future direction of Nigeria’s economy and its debt sustainability hinges on the reforms and policy choices of the incoming administration, led by President-elect Bola Tinubu. 
    Abebe Aemro Selassie, IMF Director of the African Department, maintains that the country’s economic trajectory will be determined by various factors, including government reforms, effective resource allocation, and oil price trends.
    Nigeria is currently grappling with high inflation (21.91% as of February 2023), revenue squeeze, widespread poverty, oil theft, and a controversial fuel subsidy policy. 
    Selassie explains that while Nigeria’s debt appears manageable at present, its sustainability depends on the government’s policy decisions in the coming months and years.
    Echoing these concerns, Dr. Ngozi Okonjo-Iweala, Director-General of the World Trade Organisation (WTO), calls for the diversification of global supply chains. 
    As global value chains account for 45-65% of world trade, she emphasizes their importance as the backbone of international commerce. Nigeria’s currency swap agreement with China has thus far failed to achieve its desired outcomes. 
    Addressing the trade imbalance between the two nations and implementing strategic reforms will be crucial to realizing the potential benefits of the currency swap and ensuring the sustainability of the African country’s economy.

</p>