.navbar-dark .nav-item .nav-link {
    color: #fff;
  }
  
.navbar-dark .nav-item .nav-link:hover {
    background-color: rgba(134, 156, 156, 0);
    transition: all 0.3s ease;
    border-radius: 0.25rem;
    color: #fff;
    
  }
  
.fa-li {
    position: relative;
    left: 0;
  }

.navbar{
    background-color: black;
    height: 90%;


}

.andy{
  border-radius: 3%;

}



/* css nav */

nav .pat{
  margin: 0px;
  padding: 40px;
  background-color: aquamarine;
  
}
nav .pat ul{
  list-style: none;
  float: right;
  
  
}
nav .pat ul li a{
  text-decoration: none;
  padding: 5px;
  margin: 5px;
  padding-bottom: 50px;
  font-weight: bold;
}
nav .pat ul li{
  display: inline-block;
}
 
footer{
  background-color: rgba(0, 0, 0, 0.829);
  
}
